{% extends 'base.html' %}
{% block content %}
<div class="page-header"><h2><i class="bi bi-pencil-square"></i> Edit Programme</h2></div>
<div class="card-glow p-4 mt-3">
  <form method="POST" class="row g-3">
    <div class="col-md-6"><label class="form-label">Programme name</label><input name="programme" class="form-control" value="{{ programme.programme }}"></div>
    <div class="col-md-3"><label class="form-label">Level</label><input name="level" class="form-control" value="{{ programme.level }}"></div>
    <div class="col-md-3"><label class="form-label">Year of start</label><input name="year_of_start" class="form-control" value="{{ programme.year_of_start }}"></div>

    <div class="col-md-4"><label class="form-label">Admission criteria</label><input name="admission_criteria" class="form-control" value="{{ programme.admission_criteria }}"></div>
    <div class="col-md-2"><label class="form-label">Duration (years)</label><input type="number" name="duration_years" class="form-control" value="{{ programme.duration_years }}"></div>
    <div class="col-md-2"><label class="form-label">Duration (months)</label><input type="number" name="duration_months" class="form-control" value="{{ programme.duration_months }}"></div>
    <div class="col-md-4"><label class="form-label">Exam system</label><input name="exam_system" class="form-control" value="{{ programme.exam_system }}"></div>
    <div class="col-md-6"><label class="form-label">Approved by</label><input name="approved_by" class="form-control" value="{{ programme.approved_by }}"></div>

    <h5 class="mt-3">Approved intake (seats)</h5>
    <div class="col-md-2"><label class="form-label">General</label><input type="number" name="seats_general" class="form-control" value="{{ programme.seats_general }}"></div>
    <div class="col-md-2"><label class="form-label">SC</label><input type="number" name="seats_sc" class="form-control" value="{{ programme.seats_sc }}"></div>
    <div class="col-md-2"><label class="form-label">ST</label><input type="number" name="seats_st" class="form-control" value="{{ programme.seats_st }}"></div>
    <div class="col-md-2"><label class="form-label">OBC</label><input type="number" name="seats_obc" class="form-control" value="{{ programme.seats_obc }}"></div>
    <div class="col-md-2"><label class="form-label">EWS</label><input type="number" name="seats_ews" class="form-control" value="{{ programme.seats_ews }}"></div>
    <div class="col-md-2"><label class="form-label">Supernum.</label><input type="number" name="seats_supernumerary" class="form-control" value="{{ programme.seats_supernumerary }}"></div>

    <div class="col-12 text-end"><button class="btn btn-dark">Update Programme</button></div>
  </form>
</div>
{% endblock %}
